.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

body {
  margin: 0;
  font-family: 'Inter', sans-serif;
  background-color: #1a1a1a;
}

.hero-section {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
}

.overlay {
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
}

.hero-section > div.relative {
  z-index: 2;
}

input::placeholder {
  color: #1a1a1a;
}

button {
  border: 2px solid transparent;
}

button:hover {
  border-color: #FC5600;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}

header h1 {
  margin: 0;
}

/* Style the icons */
.icon-link {
  color: #FC5600;
  transition: color 0.3s;
}

.icon-link:focus, .icon-link:hover {
  color: #FC5600; /* Ensure hover and focus are the same color */
}

/* Footer styles */
footer {
  background-color: #1a1a1a;
  text-align: center;
  padding: 1rem;
}